In [1]:
import pandas as pd
import numpy as np
import csv

In [26]:
df = pd.read_csv('AviationData.csv', encoding ='cp1252')
df['Event.Date']=pd.to_datetime(df['Event.Date'])
df['Make and Model']= df['Make']+"-"+df['Model']
df.info()

C:\Users\sunny\anaconda3\envs\learn-env\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (6,7,28) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 32 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  datetime64[ns]
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50249 non-null  object
 9   Airport.Name            52790 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87572 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81812 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82508 non-null  object
 30  Publication.Date        75118 non-null  object
 31  Make and Model          88777 non-null  object
dtypes: datetime64[ns](1), float64(5), object(26)
memory usage: 21.7+ MB

In [18]:
cols_to_drop = ['Air.carrier', 'Purpose.of.flight', 'Latitude' , 'Longitude', 'Publication.Date', 'Accident.Number', 'Event.Id', 'Airport.Code' , 'Airport.Name' , 'Registration.Number' , 'FAR.Description']

In [22]:
df_clean_cols = df.drop(cols_to_drop, axis=1)
df_clean_cols[['Make and Model']].value_counts()

Make and Model
Cessna-152                                    2168
Cessna-172                                    1254
Cessna-172N                                    996
Piper-PA-28-140                                812
Cessna-150                                     716
                                              ...
MD HELICOPTERS INC-369                           1
MD HELICOPTER-MD900                              1
MD HELICOPTER-MD 900                             1
MD HELICOPTER-500N                               1
107.5 Flying Corporation-One Design DR 107       1
Length: 20136, dtype: int64

In [28]:
df_clean_cols['Total_passengers'] = df_clean_cols['Total.Fatal.Injuries'] + df_clean_cols['Total.Serious.Injuries'] + df_clean_rows['Total.Minor.Injuries'] + df_clean_rows['Total.Uninjured']

In [32]:
df_clean_cols['Fatality_Pecentage'] = (df_clean_cols['Total.Fatal.Injuries'] / df_clean_cols['Total_passengers']) * 100
df_clean_cols['Serious_Inj_Percentage'] = (df_clean_cols['Total.Serious.Injuries'] / df_clean_cols['Total_passengers']) * 100
df_clean_cols['Minor/NonInj_Percentage'] = (df_clean_cols['Total.Minor.Injuries'] + df_clean_cols['Total.Uninjured'])/ (df_clean_cols['Total_passengers']) * 100
df_clean_cols.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 25 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Investigation.Type       88889 non-null  object
 1   Event.Date               88889 non-null  datetime64[ns]
 2   Location                 88837 non-null  object
 3   Country                  88663 non-null  object
 4   Injury.Severity          87889 non-null  object
 5   Aircraft.damage          85695 non-null  object
 6   Aircraft.Category        32287 non-null  object
 7   Make                     88826 non-null  object
 8   Model                    88797 non-null  object
 9   Amateur.Built            88787 non-null  object
 10  Number.of.Engines        82805 non-null  float64
 11  Engine.Type              81812 non-null  object
 12  Schedule                 12582 non-null  object
 13  Total.Fatal.Injuries     77488 non-null  float64
 14  Total.Serious.Injuries   76379 non-null  float64
 15  Total.Minor.Injuries     76956 non-null  float64
 16  Total.Uninjured          82977 non-null  float64
 17  Weather.Condition        84397 non-null  object
 18  Broad.phase.of.flight    61724 non-null  object
 19  Report.Status            82508 non-null  object
 20  Make and Model           88777 non-null  object
 21  Total_passengers         67503 non-null  float64
 22  Fatality_Pecentage       66424 non-null  float64
 23  Serious_Inj_Percentage   66424 non-null  float64
 24  Minor/NonInj_Percentage  66424 non-null  float64
dtypes: datetime64[ns](1), float64(9), object(15)
memory usage: 17.0+ MB

In [35]:
columns_to_inspect=['Make and Model','Injury.Severity','Aircraft.damage','Aircraft.Category','Total.Fatal.Injuries','Total.Serious.Injuries','Total.Minor.Injuries','Total.Uninjured','Total_passengers','Fatality_Pecentage']

In [39]:
df_a=df_clean_cols[columns_to_inspect]
df_a[0:50]

,Make and Model,Injury.Severity,Aircraft.damage,Aircraft.Category,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Total_passengers,Fatality_Pecentage
0,Stinson-108-3,Fatal(2),Destroyed,NaN,2.0,0.0,0.0,0.0,2.0,100.000000
1,Piper-PA24-180,Fatal(4),Destroyed,NaN,4.0,0.0,0.0,0.0,4.0,100.000000
2,Cessna-172M,Fatal(3),Destroyed,NaN,3.0,NaN,NaN,NaN,NaN,NaN
3,Rockwell-112,Fatal(2),Destroyed,NaN,2.0,0.0,0.0,0.0,2.0,100.000000
4,Cessna-501,Fatal(1),Destroyed,NaN,1.0,2.0,NaN,0.0,NaN,NaN
5,Mcdonnell Douglas-DC9,Non-Fatal,Substantial,Airplane,NaN,NaN,1.0,44.0,NaN,NaN
6,Cessna-180,Fatal(4),Destroyed,NaN,4.0,0.0,0.0,0.0,4.0,100.000000
7,Cessna-140,Non-Fatal,Substantial,Airplane,0.0,0.0,0.0,2.0,2.0,0.000000
8,Cessna-401B,Non-Fatal,Substantial,Airplane,0.0,0.0,0.0,2.0,2.0,0.000000
9,North American-NAVION L-17B,Non-Fatal,Substantial,NaN,0.0,0.0,3.0,0.0,3.0,0.000000
10,Piper-PA-28-161,Non-Fatal,Substantial,NaN,0.0,0.0,0.0,1.0,1.0,0.000000
11,Beech-V35B,Non-Fatal,Substantial,NaN,0.0,0.0,0.0,1.0,1.0,0.000000
12,Bellanca-17-30A,Non-Fatal,Destroyed,Airplane,0.0,0.0,1.0,0.0,1.0,0.000000
13,Cessna-R172K,Fatal(1),Destroyed,Airplane,1.0,0.0,0.0,0.0,1.0,100.000000
14,Navion-A,Fatal(1),Destroyed,Airplane,1.0,0.0,0.0,0.0,1.0,100.000000
15,Beech-19,Fatal(2),Destroyed,Airplane,2.0,0.0,0.0,0.0,2.0,100.000000
16,Enstrom-280C,Non-Fatal,Destroyed,Helicopter,0.0,0.0,0.0,1.0,1.0,0.000000
17,Cessna-180,Fatal(3),Destroyed,Airplane,3.0,0.0,0.0,0.0,3.0,100.000000
18,Cessna-172,Non-Fatal,Substantial,Airplane,0.0,0.0,0.0,1.0,1.0,0.000000
19,Smith-WCS-222 (BELL 47G),Non-Fatal,Substantial,Helicopter,0.0,0.0,0.0,2.0,2.0,0.000000
20,Cessna-152,Non-Fatal,Substantial,Airplane,0.0,0.0,0.0,1.0,1.0,0.000000
21,Cessna-150L,Non-Fatal,Substantial,Airplane,0.0,0.0,0.0,2.0,2.0,0.000000
22,Bell-206L-1,Non-Fatal,Substantial,Helicopter,0.0,0.0,0.0,1.0,1.0,0.000000
23,Piper-PA-24-180,Incident,Minor,Airplane,0.0,0.0,0.0,1.0,1.0,0.000000
24,Grumman-AA-5B,Fatal(2),Destroyed,Airplane,2.0,1.0,0.0,0.0,3.0,66.666667
25,Cessna-414A,Fatal(8),Destroyed,Airplane,8.0,0.0,0.0,0.0,8.0,100.000000
26,Beechcraft-BE-58,Fatal(1),Destroyed,Airplane,1.0,0.0,0.0,0.0,1.0,100.000000
27,Maule-M-5-235C,Non-Fatal,Substantial,Airplane,0.0,0.0,0.0,2.0,2.0,0.000000
28,Cessna-210L,Non-Fatal,Substantial,Airplane,0.0,0.0,1.0,1.0,2.0,0.000000
29,Bellanca-7GCBC,Non-Fatal,Substantial,Airplane,0.0,0.0,2.0,0.0,2.0,0.000000
30,Cessna-182,Non-Fatal,Substantial,Airplane,0.0,0.0,2.0,0.0,2.0,0.000000
31,Air Tractor-AT-301,Non-Fatal,Substantial,Airplane,0.0,0.0,0.0,1.0,1.0,0.000000
32,Piper-PA-28-161,Fatal(4),Destroyed,Airplane,4.0,0.0,0.0,0.0,4.0,100.000000
33,Piper-PA-34-200T,Fatal(2),Destroyed,Airplane,2.0,0.0,0.0,0.0,2.0,100.000000
34,Cessna-T337G,Fatal(2),Destroyed,Airplane,2.0,2.0,0.0,0.0,4.0,50.000000
35,Piper-PA-28R-200,Non-Fatal,Substantial,Airplane,0.0,0.0,2.0,0.0,2.0,0.000000
36,Cessna-206,Fatal(1),Destroyed,Airplane,1.0,0.0,1.0,0.0,2.0,50.000000
37,Navion-A,Fatal(3),Destroyed,Airplane,3.0,0.0,0.0,0.0,3.0,100.000000
38,Piper-PA-22,Fatal(1),Destroyed,Airplane,1.0,0.0,0.0,0.0,1.0,100.000000
39,Piper-PA-31,Fatal(2),Destroyed,Airplane,2.0,0.0,0.0,0.0,2.0,100.000000
40,Rockwell-114,Incident,Minor,Airplane,0.0,0.0,0.0,1.0,1.0,0.000000
41,Piper-PA-24-250,Non-Fatal,Substantial,Airplane,0.0,1.0,0.0,1.0,2.0,0.000000
42,Piper-PA-28R-200,Non-Fatal,Substantial,Airplane,0.0,0.0,0.0,1.0,1.0,0.000000
43,Cessna-TR182,Non-Fatal,Substantial,Airplane,0.0,0.0,0.0,1.0,1.0,0.000000
44,Cessna-A185F,Non-Fatal,Substantial,Airplane,0.0,2.0,0.0,0.0,2.0,0.000000
45,Cessna-340,Non-Fatal,Substantial,Airplane,0.0,0.0,0.0,3.0,NaN,NaN
46,Aerospatiale-SA-316B,Non-Fatal,Substantial,Helicopter,0.0,0.0,0.0,6.0,6.0,0.000000
47,Beech-35,Non-Fatal,Substantial,Airplane,0.0,0.0,0.0,3.0,3.0,0.000000
48,Cessna-152,Non-Fatal,Substantial,Airplane,0.0,0.0,0.0,2.0,2.0,0.000000
49,Mooney-M-20J,Non-Fatal,Substantial,Airplane,0.0,0.0,0.0,2.0,2.0,0.000000

In [24]:
df_amateur = df_clean_cols[(df_clean_cols['Amateur.Built'] == 'Yes')]
df_amateur['Make and Model'].value_counts()

Thorp-T-18                  11
Quickie-Q2                  11
Vans-RV 6                   10
VANS-RV4                    10
Benson-B8M                   9
                            ..
Vans-RV-6T                   1
ROBERTS ALAN W-KITFOX II     1
GRAZHOPPER-TRIKE             1
Martin-RANS S-7 COURIER      1
Zawada-Super Cuby            1
Name: Make and Model, Length: 7873, dtype: int64

In [8]:
df_clean_rows = df_clean_cols[(df_clean_cols['Amateur.Built'] != 'Yes')]
df_clean_rows.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 80414 entries, 0 to 88888
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Investigation.Type      80414 non-null  object
 1   Event.Date              80414 non-null  datetime64[ns]
 2   Location                80363 non-null  object
 3   Country                 80194 non-null  object
 4   Injury.Severity         79415 non-null  object
 5   Aircraft.damage         77249 non-null  object
 6   Aircraft.Category       28740 non-null  object
 7   Make                    80366 non-null  object
 8   Model                   80345 non-null  object
 9   Amateur.Built           80312 non-null  object
 10  Number.of.Engines       74626 non-null  float64
 11  Engine.Type             73669 non-null  object
 12  Schedule                12340 non-null  object
 13  Total.Fatal.Injuries    70189 non-null  float64
 14  Total.Serious.Injuries  69239 non-null  float64
 15  Total.Minor.Injuries    69762 non-null  float64
 16  Total.Uninjured         75457 non-null  float64
 17  Weather.Condition       76002 non-null  object
 18  Broad.phase.of.flight   56165 non-null  object
 19  Report.Status           74381 non-null  object
dtypes: datetime64[ns](1), float64(5), object(14)
memory usage: 12.9+ MB

In [ ]:
good_makes = ['Boeing', 'Airbus Industrie', 'Airbus', 'Bombardier' , 'Boeing Stearman' , 'Gulfstream Aerospace' , 'Boeing Helicopters Div.' , 'Gulfstream American' , 'Gulfstream-schweizer' , 'Bombardier Inc.' , 'Bombardier Aerospace Inc.' , 'Airbus Industries' , 'Gulfstream']

df_clean_rows = df_clean_cols[(df_clean_cols['Amateur.Built'] != True) & ((df_clean_cols['Aircraft.Category'] == 'Airplane') | (df_clean_cols.Make.isin(good_makes)))]
df_clean_rows.info()

In [ ]:
df_clean_cols = df.drop(cols_to_drop, axis=1)
df_clean_cols.head()
good_makes = ['Boeing', 'Airbus Industrie', 'Airbus', 'Bombardier' , 'Boeing Stearman' , 'Gulfstream Aerospace' , 'Boeing Helicopters Div.' , 'Gulfstream American' , 'Gulfstream-schweizer' , 'Bombardier Inc.' , 'Bombardier Aerospace Inc.' , 'Airbus Industries' , 'Gulfstream']

df_clean_rows = df_clean_cols[(df_clean_cols['Amateur.Built'] != True) & ((df_clean_cols['Aircraft.Category'] == 'Airplane') | (df_clean_cols.Make.isin(good_makes)))]
df_clean_rows.isna().sum()

Safe_pass = (df_clean_rows['Total.Minor.Injuries'] + df_clean_rows['Total.Uninjured']) / (df_clean_rows['Total_passengers']) * 100
Injured_pass = (df_clean_rows['Total.Serious.Injuries'] / df_clean_rows['Total_passengers']) * 100
dead_pass = (df_clean_rows['Total.Fatal.Injuries'] / df_clean_rows['Total_passengers']) * 100

df_clean_rows['Fatality_Pecentage'] = dead_pass
df_clean_rows['Serious_Inj_Percentage'] = Injured_pass
df_clean_rows['Minor/NonInj_Percentage'] = Safe_pass

df_clean_rows.isna().sum()

df_clean_pass_nas = df_clean_rows.dropna(subset= ['Total_passengers'])

df_clean_pass_zeros = df_clean_pass_nas.drop(df_clean_pass_nas[df_clean_pass_nas['Total_passengers'] == 0].index, axis = 0)



df_clean_pass_zeros

In [ ]:
list = list(df_clean_pass_zeros['Model'].unique())

df_clean_pass_zeros['Model'].value_counts()

In [ ]:
df_clean_pass_zeros.to_csv('AviationDataCleaned.csv')